.wetterHeader{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-direction: column;
}

.wetterHeader > h3,.wetterHeader > h1{
    text-decoration:underline wavy #fff;
}