.wetterDetails{
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wetterDetails > .details{
    margin: 1rem;
}

@media (max-width:750px) {
    .wetterDetails{
        justify-content: center;
    }

    .wetterDetails > .details{
        margin: 0.5rem;
    }
}